.terraform.lock.hcl
.terraform/
terraform.tfstate
terraform.tfstate.backup
samples/ehr-service/tf_infra/builds/
node_modules

samples/ehr-service/.ehr*
samples/ehr-service/.subscriber_details
.venv
__pycache__
samples/ehr-service/cdk.out/
samples/ehr-service/index.js
arc-go/go-common-lib/pkg/core/antlr/.antlr
