.terraform.lock.hcl
.terraform/
terraform.tfstate
terraform.tfstate.backup
samples/ehr-service/tf_infra/builds/
node_modules

.venv
__pycache__
samples/ehr-service/cdk.out/
samples/ehr-service/index.js
cdk.out
.ehr_admin_details
.ehr_service_details
.subscriber_details
arc-ecs/index.d.ts
arc-ecs/index.js
arc-ecs/lib/arc-stack.js
